.nav {
  grid-area: n;
  background-color: black;
  padding: 20px;
}
.item a {
  color: white;
  text-decoration: none;
  font-family: "Anton";
  font-size: 26px;
  margin: 30px;
  padding: 0 100px;
}

.item a.active {
  color: gold;
  border: 2px solid gold;
}
